<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/base.css}">

</head>
<body>
<div class="container">
    <h1 class="text-center">主页</h1>
        <p><a class="btn btn-primary" th:href="@{/ingredient/form}">添加食材</a></p>
        <p><a class="btn btn-primary" th:href="@{/taco/form}">添加Taco</a></p>
        <p><a class="btn btn-primary" th:href="@{/register}">注册新用户</a></p>
</div>



<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>