<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">

</head>
<body>
<div class="container">
    <h1 class="text-center">登录</h1>
    <form th:action="@{/auth}" method="post">
        <label>User name: <input type="text" name="user"/></label>
        <label>Password: <input type="password" name="pswd"/></label>
        <input type="submit" value="Login">
    </form>
    <p><a th:href="@{/}" class="btn btn-info">返回首页</a></p>
</div>



<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>