<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/base.css}">

</head>
<body>
<div class="container">
    <h1 class="text-center">用户订单</h1>
    <h3 style="text-align: center;" th:text="欢迎 + ${user.username}">用户名</h3>
    <ol>您的订单是：
        <li th:each="order: ${orders}" th:text="${order}">订单字符串</li>

    </ol>
</div>


<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>