<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="#" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{/css/base.css}">

</head>
<body>
<div class="container">
    <h1 class="text-center">选择食材</h1>
    <h2 class="text-center" th:text="'欢迎' + ${user.username}">Username</h2>
    <form action="#" th:action="@{/taco/process}" th:object="${taco}" method="post">
        <div class="form-group">
            <label for="name">Name</label><input class="form-control" type="text" th:field="${taco.name}">
            <span class="validationError"
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}">Name Error</span>
        </div>

        <div th:each="list: ${mapper}">
            <h3 class="text-left" th:text="${list.key}"></h3>
            <div class="form-check" th:each="ingredient: ${list.value}">
                <input class="form-check-input" type="checkbox" th:value="${ingredient.id}" name="ingredients"
                       th:id="${ingredient.type}+${ingredient.id}">
                <label class="form-check-label" th:text="${ingredient.name}"
                       th:for="${ingredient.type}+${ingredient.id}"></label>
            </div>
            <hr>
        </div>

        <p class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="${taco.ingredients}">Name Error</p>

        <button type="submit" class="btn btn-primary">提交</button>
    </form>
    <br>
    <p><a th:href="@{/}" class="btn btn-info">返回首页</a></p>
</div>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

<script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>